PORT=9118
PUBLIC_BASE_URL=http://192.168.0.249:9118
API_KEY=test
TOLOKA_BASE_URL=https://toloka.to
TOLOKA_COOKIE=
TOLOKA_DEBUG_SAVE_HTML=false
RUTRACKER_BASE_URL=https://rutracker.net/forum
RUTRACKER_USERNAME=
RUTRACKER_PASSWORD=
RUTRACKER_DEBUG_SAVE_HTML=false
RUTOR_BASE_URL=https://rutor.info
RUTOR_DEBUG_SAVE_HTML=false
